* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f0f2f5;
}



.logo {
    font-size: 22px;
    font-weight: bold;
}



.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
}

/* ===== LAYOUT ===== */
.container {
    
    display: flex;
    margin-top: 56px;
}

/* ===== SIDEBAR ===== */
.sidebar {
    
    width: 250px;
    padding: 20px;
}

    .sidebar ul {
        list-style: none;
    }

    .sidebar li {
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
    }

        .sidebar li:hover {
            background: #e4e6eb;
        }

/* ===== FEED ===== */
.feed {
    flex: 1;
    max-width: 680px;
    margin: 20px auto;
}

.post {
    width: 600px;
    background: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
}

.post-name {
    font-weight: bold;
}

.post-content {
    margin-top: 10px;
    line-height: 1.5;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 8px;
    color: #65676b;
    font-weight: bold;
    cursor: pointer;
}

    .post-actions div:hover {
        color: #1877f2;
    }

/* ===== RIGHT BAR ===== */
.rightbar {
    width: 350px;
    padding: 20px;
}

@media (max-width: 992px) {
    .sidebar,
    .rightbar {
        display: none;
    }
}
